# Dependencias
node_modules/

# Build
dist/

# Entornos
.env
.env.*

# Logs
logs/
*.log

# Coverage
coverage/

# Editor
.vscode/

# Seeds
/src/seeds/

# Python bytecode
__pycache__/
*.py[cod]

# Archivos de texto
*.txt

# Logs
*.log
