<script>
  window.USER_ID = "<%= USER_ID %>"
</script>

<h1 class="ui-title">Dashboard</h1>

<!-- ============================
     CAROUSEL CONTAINER CON CONTROLES
============================= -->
<div class="carousel-container">
  <button id="carousel-prev" class="carousel-nav carousel-nav-prev" onclick="scrollCarouselPrev()"
    title="Anterior"></button>

  <!-- ============================
       CARD: KPIs GLOBALES
  ============================= -->
  <div class="home-carousel">


    <!-- ============================
    KPI BALANCES
    ============================= -->
    <div class="ui-card home-slide">

      <div class="ui-card-header html-balance-kpi-header-nav">
        <button id="html-balance-kpi-prev" class="html-balance-kpi-year-btn"></button>
        <h2 id="html-balance-kpi-year-label" class="html-balance-kpi-year-label">
          KPIs Balances
        </h2>
        <button id="html-balance-kpi-next" class="html-balance-kpi-year-btn"></button>
      </div>

      <div id="html-balance-kpi" class="ui-card-body">
      </div>
    </div>

    <!-- ============================
    CASH FLOW SUMMARY
    ============================= -->
    <div class="ui-card home-slide">

      <div class="ui-card-header html-cash-flow-summary-header-nav">
        <button id="html-cash-flow-summary-prev" class="html-cash-flow-summary-year-btn"></button>
        <h2 id="html-cash-flow-summary-year-label" class="html-cash-flow-summary-year-label">
          Tendencia Saldos
        </h2>
        <button id="html-cash-flow-summary-next" class="html-cash-flow-summary-year-btn"></button>
      </div>

      <div id="html-cash-flow-summary" class="ui-card-body">
        <div style="height: 280px;">
          <canvas id="cashFlowChart"></canvas>
        </div>
      </div>
    </div>

    <!-- ============================
    LOAN FLOW SUMMARY
    ============================= -->
    <div class="ui-card home-slide">

      <div class="ui-card-header html-loan-flow-summary-header-nav">
        <button id="html-loan-flow-summary-prev" class="html-loan-flow-summary-year-btn"></button>
        <h2 id="html-loan-flow-summary-year-label" class="html-loan-flow-summary-year-label">
          Tendencia Préstamos
        </h2>
        <button id="html-loan-flow-summary-next" class="html-loan-flow-summary-year-btn"></button>
      </div>

      <div id="html-loan-flow-summary" class="ui-card-body">
        <div style="height: 280px;">
          <canvas id="loanFlowChart"></canvas>
        </div>
      </div>
    </div>

  </div>

  <button id="carousel-next" class="carousel-nav carousel-nav-next" onclick="scrollCarouselNext()" title="Siguiente">
  </button>

</div>

<script src="/js/helpers/icon-helper.js"></script>
<script src="/js/indexes/home-index.js"></script>