<button
  id="<%= 'btnRecalculate' %>"
  class="ui-btn ui-btn-primary"
  title="<%= 'Recalcular balances' %>">

  <svg xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 24 24" 
    fill="none" 
    stroke="currentColor">
    
    <path stroke-linecap="round" 
      stroke-linejoin="round" 
      stroke-width="2"
      d="M4 4v6h6M20 20v-6h-6M5 19a9 9 0 0014-7M19 5a9 9 0 00-14 7" />
  </svg>

  <span class="ui-btn-text"><%= 'Recalcular' %></span>
</button>
