<button
  onclick="location.href='<%= href %>'"
  class="ui-btn ui-btn-default"
  title="<%= title || 'Nuevo' %>">

  <svg xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 24 24"
       fill="none"
       stroke="currentColor"
       width="20"
       height="20">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 4v16m8-8H4" />
  </svg>

  <span class="ui-btn-text"><%= text || 'Nuevo' %></span>
</button>
