<button
  type="button"
  class="ui-btn ui-btn-default js-status-filter-toggle"
  data-status="<%= initialStatus || 'all' %>"
  title="Filtrar Estado">

  <span class="ui-btn-icon"></span>
  <span class="ui-btn-text"></span>

</button>
