<nav class="bg-blue-600 text-white">
    <div class="max-w-7xl mx-auto px-6 h-14 flex items-center justify-between">

        <div class="font-semibold text-lg">
            App Contable V1
        </div>

        <ul class="flex space-x-6">
            <li>
                <a href="/home" class="hover:underline">Inicio</a>
            </li>
            <li>
                <a href="/accounts" class="hover:underline">Cuentas</a>
            </li>
            <li>
                <a href="/categories" class="hover:underline">Categorías</a>
            </li>
            <li>
                <a href="/transactions" class="hover:underline">Transacciones</a>
            </li>
        </ul>

    </div>
</nav>