<script>
  window.USER_ID = "<%= USER_ID %>"
</script>

<div class="max-w-4xl mx-auto ui-page">

  <!-- Header fijo -->
  <div class="ui-header">
    <h1 class="ui-title">Cuentas</h1>

    <!-- Toolbar -->
    <div class="ui-toolbar">
      <%- include('../../partials/btn-new', {
        href: '/accounts/insert',
        title: 'Nueva cuenta',
        text: 'Nuevo'
      }) %>

      <%- include('../../partials/btn-toggle-status.ejs', {
        initialStatus: 'all'
      }) %>

      <%- include('../../partials/search-box', {
        placeholder: 'Buscar cuentas...'
      }) %>
    </div>
  </div>

  <!-- =========================
       SCROLL INTERNO
       ========================= -->
  <div class="ui-scroll-area">

    <!-- Mobile cards -->
    <div id="accounts-mobile" class="accounts-mobile"></div>

    <!-- Desktop table -->
    <div class="ui-table-wrapper">
      <table class="ui-table">
        <thead>
          <tr>
            <th class="ui-th col-left">Nombre</th>
            <th class="ui-th col-left">Tipo</th>
            <th class="ui-th col-left">Estado</th>
            <th class="ui-th col-left">Cant. Trx.</th>
            <th class="ui-th col-left">Balance</th>
            <th class="ui-th col-left">Acciones</th>
          </tr>
        </thead>
        <tbody id="accounts-table"></tbody>
      </table>
    </div>

  </div>
</div>

<script src="/js/indexes/accounts-index.js"></script>
<script src="/js/helpers/icon-helper.js"></script>
<script src="/js/helpers/amount-helper.js"></script>
<script src="/js/helpers/type-tags-helper.js"></script>
<script src="/js/helpers/status-toggle-helper.js"></script>
